body {
  background-color: #efefef;

  font-family: "M PLUS Rounded 1c", sans-serif;
}
h1 {
  color: #272142;
  font-weight: 100;
  font-size: 50px;
}
form {
  margin-top: 40px;
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

ul {
  padding: 0;
  margin-bottom: 1rem;
}
li {
  list-style-type: none;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: rgba(39, 33, 66, 0.4);
}
img {
  position: relative;
  margin-right: 20px;
  top: -25px;
}
footer {
  text-align: center;
  font-size: 14px;
  margin-top: 40px;
  line-height: 18px;
  color: rgba(39, 33, 66, 0.4);
}
a {
  color: #4086f4;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #4086f4;
}

.container {
  margin: 60px auto;
}

.weather-app {
  margin: 0 auto;
  max-width: 800px;
  padding: 60px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
}

.search-input {
  background: #efefef;
  width: 100%;
  border: none;
  padding: 15px 20px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 300;
  height: 50px;
  color: #a9a6b3;
}

.btn {
  background: #4086f4;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  height: 50px;
}

.todaysForecast {
  margin-top: 20px;
}

.todaysForecast h1 {
  margin: 20px 0 10px;
  font-weight: 500;
  font-size: 3.3rem;
}
.humidity-wind {
  color: #f65282;
}

.todaysTemperature {
  text-align: right;
}

.temperature {
  font-weight: 700;
  font-size: 80px;
}
.units {
  color: #212121;
  font-size: 28px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}

.fiveDayForecast {
  text-align: center;
  margin: 40px 0;
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 50px;
}

.dailyInfo {
  display: block;
}

.day {
  font-size: 16px;
  line-height: 20px;
  color: rgba(39, 33, 66, 0.4);
}
.dailyIcon {
  margin: 20px;
  font-size: 38px;
}
.dailyTemp {
  font-size: 18px;
  line-height: 1.5;
  color: #f65282;
  font-weight: 700;
}

.minTemp {
  margin-left: 10px;
  opacity: 0.6;
}

.todaysTemperature .active {
  color: #272142;
  cursor: default;
}

.todaysTemperature .active:hover {
  text-decoration: none;
}
